<div>
    <button class="tablinks coldstarts" onclick="showColdstartTable(event, 'coldstarts1')" id="defaultOpenColdstarts">Run #1</button>
    <button class="tablinks coldstarts" onclick="showColdstartTable(event, 'coldstarts2')">Run #2</button>
</div>

<div id="coldstarts1" class="tabcontent coldstarts">
    <table id="coldstarts1_table">
        <thead>
            <tr>
                <th>Runtime</th>
                <th>Region</th>
                <th>1st time [ms]</th>
                <th>avg remaining [ms]</th>
                <th>diff [ms]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>nodejs14</td>
                <td>europe-west3</td>
                <td>1176</td>
                <td>49</td>
                <td>1127</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>europe-west3</td>
                <td>447</td>
                <td>43</td>
                <td>404</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>europe-west3</td>
                <td>54</td>
                <td>101</td>
                <td>-47</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>europe-west3</td>
                <td>895</td>
                <td>59</td>
                <td>836</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>europe-west3</td>
                <td>997</td>
                <td>41</td>
                <td>956</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>europe-west3</td>
                <td>1054</td>
                <td>95</td>
                <td>959</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>europe-west3</td>
                <td>679</td>
                <td>45</td>
                <td>634</td>
            </tr>
            <tr>
                <td>nodejs14</td>
                <td>us-central1</td>
                <td>1123</td>
                <td>250</td>
                <td>873</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>us-central1</td>
                <td>922</td>
                <td>227</td>
                <td>695</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>us-central1</td>
                <td>1638</td>
                <td>284</td>
                <td>1354</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>us-central1</td>
                <td>1254</td>
                <td>259</td>
                <td>995</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>us-central1</td>
                <td>1430</td>
                <td>193</td>
                <td>1237</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>us-central1</td>
                <td>1536</td>
                <td>261</td>
                <td>1275</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>us-central1</td>
                <td>1271</td>
                <td>211</td>
                <td>1060</td>
            </tr>
            <tr>
                <td>nodejs14</td>
                <td>asia-east2</td>
                <td>1228</td>
                <td>381</td>
                <td>847</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>asia-east2</td>
                <td>869</td>
                <td>375</td>
                <td>494</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>asia-east2</td>
                <td>1227</td>
                <td>398</td>
                <td>829</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>asia-east2</td>
                <td>1433</td>
                <td>375</td>
                <td>1058</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>asia-east2</td>
                <td>1126</td>
                <td>388</td>
                <td>738</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>asia-east2</td>
                <td>1023</td>
                <td>410</td>
                <td>613</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>asia-east2</td>
                <td>904</td>
                <td>420</td>
                <td>484</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="coldstarts2" class="tabcontent coldstarts">
    <table id="coldstarts2_table">
        <thead>
            <tr>
                <th>Runtime</th>
                <th>Region</th>
                <th>1st time [ms]</th>
                <th>avg remaining [ms]</th>
                <th>diff [ms]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>nodejs14</td>
                <td>europe-west3</td>
                <td>409</td>
                <td>49</td>
                <td>360</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>europe-west3</td>
                <td>61</td>
                <td>46</td>
                <td>15</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>europe-west3</td>
                <td>164</td>
                <td>120</td>
                <td>44</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>europe-west3</td>
                <td>98</td>
                <td>53</td>
                <td>45</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>europe-west3</td>
                <td>53</td>
                <td>45</td>
                <td>8</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>europe-west3</td>
                <td>325</td>
                <td>95</td>
                <td>230</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>europe-west3</td>
                <td>169</td>
                <td>43</td>
                <td>126</td>
            </tr>
            <tr>
                <td>nodejs14</td>
                <td>us-central1</td>
                <td>1214</td>
                <td>203</td>
                <td>1011</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>us-central1</td>
                <td>269</td>
                <td>230</td>
                <td>39</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>us-central1</td>
                <td>819</td>
                <td>284</td>
                <td>535</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>us-central1</td>
                <td>411</td>
                <td>249</td>
                <td>162</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>us-central1</td>
                <td>310</td>
                <td>215</td>
                <td>95</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>us-central1</td>
                <td>1022</td>
                <td>284</td>
                <td>738</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>us-central1</td>
                <td>1004</td>
                <td>240</td>
                <td>764</td>
            </tr>
            <tr>
                <td>nodejs14</td>
                <td>asia-east2</td>
                <td>880</td>
                <td>496</td>
                <td>384</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>asia-east2</td>
                <td>394</td>
                <td>409</td>
                <td>-15</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>asia-east2</td>
                <td>409</td>
                <td>454</td>
                <td>-45</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>asia-east2</td>
                <td>406</td>
                <td>387</td>
                <td>19</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>asia-east2</td>
                <td>405</td>
                <td>409</td>
                <td>-4</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>asia-east2</td>
                <td>510</td>
                <td>450</td>
                <td>60</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>asia-east2</td>
                <td>448</td>
                <td>398</td>
                <td>50</td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var activeColdstartDataTable;

    function showColdstartTable(evt, tabId) {
        var i, tabcontentColdstarts, tablinksColdstarts;
        tabcontentColdstarts = document.getElementsByClassName("tabcontent coldstarts");
        for (i = 0; i < tabcontentColdstarts.length; i++) {
            tabcontentColdstarts[i].style.display = "none";
        }
        tablinksColdstarts = document.getElementsByClassName("tablinks coldstarts");
        for (i = 0; i < tablinksColdstarts.length; i++) {
            tablinksColdstarts[i].className = tablinksColdstarts[i].className.replace(" active", "");
        }
        document.getElementById(tabId).style.display = "block";
        evt.currentTarget.className += " active";

        if (activeColdstartDataTable) {
            activeColdstartDataTable.destroy();
        }
        const options = {
            searchable: false,
            paging: false,
            info: false
        };
        activeColdstartDataTable = new simpleDatatables.DataTable("#" + tabId + "_table", options);
    }

    document.getElementById("defaultOpenColdstarts").click();
</script>