<div>
    <button class="tablinks responsetimes" onclick="showResponsetimesTable(event, 'responsetimes1')" id="defaultOpenResponseTimes">Run #1</button>
    <button class="tablinks responsetimes" onclick="showResponsetimesTable(event, 'responsetimes2')">Run #2</button>
</div>

<div id="responsetimes1" class="tabcontent responsetimes">
    <table id="responsetimes1_table">
        <thead>
            <tr>
                <th>Runtime</th>
                <th>Region</th>
                <th>Requests</th>
                <th>Min [ms]</th>
                <th>95th pct [ms]</th>
                <th>Max [ms]</th>
                <th>Mean [ms]</th>
                <th>Std Dev [ms]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>nodejs14</td>
                <td>europe-west3</td>
                <td>20796</td>
                <td>85</td>
                <td>909</td>
                <td>1591</td>
                <td>576</td>
                <td>182</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>europe-west3</td>
                <td>25681</td>
                <td>83</td>
                <td>856</td>
                <td>7607</td>
                <td>466</td>
                <td>213</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>europe-west3</td>
                <td>20408</td>
                <td>83</td>
                <td>1078</td>
                <td>2675</td>
                <td>587</td>
                <td>259</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>europe-west3</td>
                <td>20810</td>
                <td>83</td>
                <td>893</td>
                <td>1601</td>
                <td>575</td>
                <td>160</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>europe-west3</td>
                <td>25818</td>
                <td>82</td>
                <td>711</td>
                <td>1791</td>
                <td>464</td>
                <td>156</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>europe-west3</td>
                <td>17489</td>
                <td>84</td>
                <td>1003</td>
                <td>3912</td>
                <td>685</td>
                <td>218</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>europe-west3</td>
                <td>25162</td>
                <td>84</td>
                <td>793</td>
                <td>1494</td>
                <td>476</td>
                <td>160</td>
            </tr>
            <tr>
                <td>nodejs14</td>
                <td>us-central1</td>
                <td>16341</td>
                <td>192</td>
                <td>1100</td>
                <td>2789</td>
                <td>733</td>
                <td>244</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>us-central1</td>
                <td>19738</td>
                <td>192</td>
                <td>1017</td>
                <td>1757</td>
                <td>607</td>
                <td>213</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>us-central1</td>
                <td>16545</td>
                <td>190</td>
                <td>1400</td>
                <td>7796</td>
                <td>724</td>
                <td>339</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>us-central1</td>
                <td>14907</td>
                <td>192</td>
                <td>1200</td>
                <td>2302</td>
                <td>804</td>
                <td>248</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>us-central1</td>
                <td>17968</td>
                <td>193</td>
                <td>1091</td>
                <td>3559</td>
                <td>667</td>
                <td>229</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>us-central1</td>
                <td>14444</td>
                <td>192</td>
                <td>1197</td>
                <td>3407</td>
                <td>830</td>
                <td>240</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>us-central1</td>
                <td>16172</td>
                <td>193</td>
                <td>1104</td>
                <td>2088</td>
                <td>741</td>
                <td>192</td>
            </tr>
            <tr>
                <td>nodejs14</td>
                <td>asia-east2</td>
                <td>25112</td>
                <td>352</td>
                <td>780</td>
                <td>2086</td>
                <td>477</td>
                <td>142</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>asia-east2</td>
                <td>28831</td>
                <td>350</td>
                <td>587</td>
                <td>1604</td>
                <td>415</td>
                <td>112</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>asia-east2</td>
                <td>22617</td>
                <td>352</td>
                <td>1093</td>
                <td>5098</td>
                <td>530</td>
                <td>292</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>asia-east2</td>
                <td>20441</td>
                <td>373</td>
                <td>889</td>
                <td>1786</td>
                <td>586</td>
                <td>146</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>asia-east2</td>
                <td>28630</td>
                <td>349</td>
                <td>589</td>
                <td>1872</td>
                <td>418</td>
                <td>106</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>asia-east2</td>
                <td>21549</td>
                <td>364</td>
                <td>896</td>
                <td>3197</td>
                <td>556</td>
                <td>184</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>asia-east2</td>
                <td>26001</td>
                <td>351</td>
                <td>715</td>
                <td>1786</td>
                <td>461</td>
                <td>140</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="responsetimes2" class="tabcontent responsetimes">
    <table id="responsetimes2_table">
        <thead>
            <tr>
                <th>Runtime</th>
                <th>Region</th>
                <th>Requests</th>
                <th>Min [ms]</th>
                <th>95th pct [ms]</th>
                <th>Max [ms]</th>
                <th>Mean [ms]</th>
                <th>Std Dev [ms]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>nodejs14</td>
                <td>europe-west3</td>
                <td>20487</td>
                <td>80</td>
                <td>992</td>
                <td>1516</td>
                <td>585</td>
                <td>191</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>europe-west3</td>
                <td>26846</td>
                <td>83</td>
                <td>796</td>
                <td>2314</td>
                <td>446</td>
                <td>175</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>europe-west3</td>
                <td>22988</td>
                <td>82</td>
                <td>906</td>
                <td>2400</td>
                <td>521</td>
                <td>224</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>europe-west3</td>
                <td>21902</td>
                <td>85</td>
                <td>806</td>
                <td>1496</td>
                <td>547</td>
                <td>155</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>europe-west3</td>
                <td>27023</td>
                <td>82</td>
                <td>703</td>
                <td>2064</td>
                <td>443</td>
                <td>163</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>europe-west3</td>
                <td>17760</td>
                <td>85</td>
                <td>995</td>
                <td>2800</td>
                <td>675</td>
                <td>189</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>europe-west3</td>
                <td>22418</td>
                <td>82</td>
                <td>890</td>
                <td>1712</td>
                <td>534</td>
                <td>167</td>
            </tr>
            <tr>
                <td>nodejs14</td>
                <td>us-central1</td>
                <td>18468</td>
                <td>188</td>
                <td>1006</td>
                <td>1625</td>
                <td>649</td>
                <td>197</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>us-central1</td>
                <td>20845</td>
                <td>185</td>
                <td>905</td>
                <td>1805</td>
                <td>575</td>
                <td>183</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>us-central1</td>
                <td>17753</td>
                <td>188</td>
                <td>1290</td>
                <td>3199</td>
                <td>675</td>
                <td>303</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>us-central1</td>
                <td>16048</td>
                <td>188</td>
                <td>1197</td>
                <td>2322</td>
                <td>747</td>
                <td>232</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>us-central1</td>
                <td>18306</td>
                <td>185</td>
                <td>1013</td>
                <td>2020</td>
                <td>655</td>
                <td>218</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>us-central1</td>
                <td>17756</td>
                <td>187</td>
                <td>1153</td>
                <td>3825</td>
                <td>676</td>
                <td>290</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>us-central1</td>
                <td>16902</td>
                <td>188</td>
                <td>1098</td>
                <td>2102</td>
                <td>709</td>
                <td>199</td>
            </tr>
            <tr>
                <td>nodejs14</td>
                <td>asia-east2</td>
                <td>22854</td>
                <td>349</td>
                <td>835</td>
                <td>2309</td>
                <td>524</td>
                <td>157</td>
            </tr>
            <tr>
                <td>go113</td>
                <td>asia-east2</td>
                <td>28844</td>
                <td>346</td>
                <td>594</td>
                <td>1749</td>
                <td>415</td>
                <td>112</td>
            </tr>
            <tr>
                <td>java11</td>
                <td>asia-east2</td>
                <td>21243</td>
                <td>347</td>
                <td>1109</td>
                <td>5398</td>
                <td>564</td>
                <td>316</td>
            </tr>
            <tr>
                <td>python39</td>
                <td>asia-east2</td>
                <td>21013</td>
                <td>367</td>
                <td>805</td>
                <td>1902</td>
                <td>570</td>
                <td>147</td>
            </tr>
            <tr>
                <td>ruby27</td>
                <td>asia-east2</td>
                <td>27958</td>
                <td>343</td>
                <td>604</td>
                <td>1849</td>
                <td>428</td>
                <td>127</td>
            </tr>
            <tr>
                <td>dotnet3</td>
                <td>asia-east2</td>
                <td>21802</td>
                <td>357</td>
                <td>887</td>
                <td>3104</td>
                <td>549</td>
                <td>172</td>
            </tr>
            <tr>
                <td>php74</td>
                <td>asia-east2</td>
                <td>25581</td>
                <td>348</td>
                <td>711</td>
                <td>2224</td>
                <td>468</td>
                <td>151</td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var activeResponsetimesDataTable;

    function showResponsetimesTable(evt, tabId) {
        var i, tabcontentResponseTimes, tablinksResponseTimes;
        tabcontentResponseTimes = document.getElementsByClassName("tabcontent responsetimes");
        for (i = 0; i < tabcontentResponseTimes.length; i++) {
            tabcontentResponseTimes[i].style.display = "none";
        }
        tablinksResponseTimes = document.getElementsByClassName("tablinks responsetimes");
        for (i = 0; i < tablinksResponseTimes.length; i++) {
            tablinksResponseTimes[i].className = tablinksResponseTimes[i].className.replace(" active", "");
        }
        document.getElementById(tabId).style.display = "block";
        evt.currentTarget.className += " active";

        if (activeResponsetimesDataTable) {
            activeResponsetimesDataTable.destroy();
        }
        const options = {
            searchable: false,
            paging: false,
            info: false
        };
        activeResponsetimesDataTable = new simpleDatatables.DataTable("#" + tabId + "_table", options);
    }

    document.getElementById("defaultOpenResponseTimes").click();
</script>