.blog {
  @import "post-list";
  @import "post-metadata";
  @import "post/post";

  width: $desktop-width;
  margin: 0 auto;
  @include section-medium-space
}

.narrower {
  @include desktop {
    margin: 0 auto;
  }
}
