.blog {
  @import "post-list";
  @import "post-metadata";
  @import "post/post";

  @include desktop {
    margin: 0 $blog-side-margins-desktop;
  }

  @include tablet {
    margin: 0 $blog-side-margins-tablet;
  }
}
