.post-list {
  padding-top: $content-padding;
  padding-bottom: $content-padding;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .post {
    padding-top: $content-padding;
    padding-bottom: $content-padding;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }

}