.post-metadata {
  $field-margin: 5px;

  @include flex-container;
  color: $gray-300;
  align-items: center;

  .article-author {
    @include flex-container;
    align-items: center;
  }

  .author-name {
    width: 85px;
    height: 75px;
    position: relative;
  }

  .author-name-metadata {
    font-size: 1.3em;
    font-weight: bold;
  }

  .author-separator {
    margin-left: $field-margin;
  }

  .author-image {
    margin-left: $field-margin;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    overflow: hidden;

    img {
      max-width: $avatar-size;
      max-height: $avatar-size;
    }
  }

  .coauthors {
    @include flex-container;
    align-items: center;
  }

}
