.post-metadata {
  @include flex-container;
  align-items: center;
  justify-content: space-between;
  @include content-small-space;
}

.metadata {
  @include flex-container;
  gap: 32px;
}

.time {
  margin-right: 16px;
}

.reading-time {
  @include flex-container;
}

.time, .publish-date, .separator {
  @include body-small-semibold();
  text-align: center;
  color: $gray-500;
}

.clock-icon {
  width: 16px;
  height: 16px;
  stroke-width: 2px;
  align-self: center;
  margin: 0;
}
