.post-animation {
  transition: 0.2s;
  animation: ease;

  &:hover {
    transform: translate3d(0, -1px, 0);
    box-shadow: $post-tile-hover-shadow;
  }
}

.post-tile {
  @include flex-container;
  flex-direction: column;
  justify-content: space-between;
  margin: $post-tile-margin-top $small-padding $post-tile-margin-bottom;
  @include mobile {
    margin: $post-tile-margin-top 0;
  }
  @extend .post-animation;
}

.post-title {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: $general-letter-spacing;
  margin-top: 0;
}

.search-result-tile {
  margin: $content-padding 0;
}

.post-tile-content {
  @include flex-container;
  flex-direction: column;
  justify-content: space-between;
  padding: $small-padding;
  height: 100%;
}

.post-info {
  @include flex-container;
  flex-direction: column;
}

.post-description {
  font-size: 1.2em;
  letter-spacing: $general-letter-spacing;
}

.big-post-tile-content {
  @include flex-container;
  flex-direction: column;
  justify-content: flex-start;
  padding: $small-padding;
  @include tablet-and-desktop {
    padding: $content-padding;
  }

  .post-title {
    font-size: 1.6em;
  }
}

.small-author-image {
  width: $medium-author-image-size;
  height: auto;
  border-radius: 50%;
  margin-right: $very-small-padding;
}

.tile-author {
  @include flex-container;
  margin-top: $content-padding;
  align-items: center;
}

.author-name {
  font-weight: bold;
}

.highlight-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-post-image {
  min-height: 238px;
  max-height: 238px;
}

.post-tile-band {
  overflow: hidden;
  position: relative;

  &:before {
    transform: translateX(-45px) translateY(40px) rotate(-45deg);
    display: block;
    content: "Czy wiesz, że?";
    width: 200px;
    position: absolute;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

.post-tile-did-you-know, .big-post-tile-did-you-know {
  @extend .post-tile-band;

  &:before {
    content: "Czy wiesz, że?";
    background-color: $color-logo-red;
    color: $color-white;
  }
}

.post-tile-after-hours, .big-post-tile-after-hours {
  @extend .post-tile-band;

  &:before {
    content: "Po godzinach";
    background-color: $color-highlight-blue;
    color: $color-white;
  }
}
