$small-tile-img-width: 360px;

.post-tile {
  @include flex-container;
  flex-direction: column;
  justify-content: space-between;
  @include mobile {
    margin: $post-tile-margin-top 0;
  }
  width: $small-tile-img-width;

  @include mobile {
    width: 100%;
  }
}

.search-result-tile {
  margin: $content-padding 0;
}

.post-tile-content {
  @include flex-container;
  flex-direction: column;
  height: 100%;

  .badge {
    margin-bottom: 20px;
  }
}

.big-post-tile-content .badge, .small-post-image {
  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 16px;
  }
}

.post-title {
  margin-top: 0;
  margin-bottom: 24px;

  @include mobile {
    margin-top: 0;
    margin-bottom: 8px;
  }
}

.post-date {
  @include body-xs;
  color: $gray-500;
}

.post-info {
  @include flex-container;
  flex-direction: column;
}

.post-description {
  @include body-small;
  margin-top: 0;
  margin-bottom: 32px;

  @include mobile {
    @include body-xs;
    margin-top: 0;
    margin-bottom: 20px;
  }

  a {
    @include small-regular;

    &:hover {
      @include animation-ease;
      color: $gray-900;
    }
  }

}

.big-post-tile {
  @include section-space;
  @include flex-container;
  flex-direction: row;

  .big-post-image {
    width: 592px;
    height: 435px;
  }

  .big-post-image {
    border-radius: 24px;
    object-fit: cover;

    &:hover {
      @include animation-ease;
      filter: brightness(1.2);
    }
  }

  &-content {
    @include flex-container;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: url($icon-dir + "logo_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &-post-title {
    font-size: $big-font-size;
  }

  &-author {
    margin-top: auto;
  }

  h2 {
    margin: 0;
  }
}

.small-author-image {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  margin-right: $small-padding;
}

.tile-author {
  position: relative;
  @include flex-container;
  align-items: center;
  margin-top: auto;
}

.author-name {
  @include body-small-semibold;
  color: $gray-500;
}

.author-name.coauthor {
  position: absolute;
  left: 32px;

  .small-author-image {
    outline: 2px solid $color-white;
  }
}

.authors-container {
  width: 84px;
  height: $avatar-size;
}

.author-img {
  height: $avatar-size;
}

.author-name, .author-name.coauthor {
  &:hover {
    @include animation-ease;
    color: $gray-900;
  }
}

.tile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &:hover {
    @include animation-ease;
    filter: brightness(1.2);
  }
}

.small-post-image {
  width: $small-tile-img-width;
  height: 280px;
  border-radius: $round-edge;
  object-fit: cover;
  margin-bottom: 20px;

  @include mobile {
    width: 100%;
  }
}

.badge {
  @include badge;
  margin-bottom: 24px;
}

.big-post-tile-post-description {
  @include body;
  color: $gray-500;
}
