.post-animation {
  transition: 0.2s;
  animation: ease;

  &:hover {
    transform: translate3d(0, -1px, 0);
    box-shadow: rgba(0, 0, 0, 0.22) 0 19px 30px;
  }
}

.post-tile {
  @include flex-container;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px $small-padding;
  @extend .post-animation;
}

.post-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0;
}

.post-tile-content {
  @include flex-container;
  flex-direction: column;
  justify-content: space-between;
  padding: $small-padding;
  height: 100%;
}

.post-info {
  @include flex-container;
  flex-direction: column;
}

.post-description {
  font-size: 1.1em;
}

.big-post-tile-content {
  @include flex-container;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 $content-padding $content-padding;
}

.small-author-image {
  width: $small-author-image-size;
  height: auto;
  border-radius: 50%;
  margin-right: 5px;
}

.tile-author {
  @include flex-container;
  margin-top: $content-padding;
  align-items: center;
}

.author-name {
  font-weight: bold;
}

.highlight-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
