.author-bio {
  display: none;
  @include tablet-and-desktop {
    @include flex-container;
  }
  margin-top: 25px;
  padding-top: $content-padding;
  padding-bottom: $content-padding;


  $author-image-size: 90px;

  .author-image {
    min-width: $author-image-size;
    max-width: $author-image-size;
    min-height: $author-image-size;
    max-height: $author-image-size;
    border-radius: 50%;
    overflow: hidden;

    img {
      min-width: $author-image-size;
      max-width: $author-image-size;
      min-height: $author-image-size;
      max-height: $author-image-size;
    }
  }

  .card {
    @include flex-container;
    margin-left: $content-padding;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .header {
    @include flex-container;
    align-items: center;
  }

  .author-name {
    font-size: 24px;
    font-weight: $font-weight-semibold;
  }
  .social-buttons {
    margin-left: $content-padding;
    svg {
      padding: 0;
    }
  }
}
