.similar-posts {
  @include flex-container;
  width: 100%;
  flex-direction: column;

  .title {
    font-weight: $font-weight-bold;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    &:not(:first-child) {
      padding-top: 5px;
    }
    a {
      word-break: break-word;
    }
  }
}
