title: Consdata - blog techniczny
# the subpath of your site, e.g. /blog
baseurl: ""
url: "https://chrrapek.github.io/consdata.github.io/"

google_analytics: UA-28387432-1

sass:
  sass_dir: _sass
  style: compressed
  sourcemap: never

disqus:
  shortname: consdata-tech

collections:
  authors:
    output: true

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"

languages: ["en", "pl"]
default_lang: "pl"
exclude_from_localization: ["assets/*", "_sass/*", "js/*", "json/*"]
parallel_localization: true

  # Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-autoprefixer
  - jekyll-seo-tag
  - jekyll-polyglot
