title: Consdata - blog techniczny
# the subpath of your site, e.g. /blog
baseurl: ""
url: "https://blog.consdata.tech"

google_analytics: UA-135929610-1

paginate: 5
paginate_path: "/blog/page:num/"

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      comments: true

sass:
  sass_dir: _sass
  style: compressed

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-autoprefixer
  - jekyll-seo-tag
  - jekyll-paginate
