#header-links {
  @include flex-container;
  align-items: center;
  justify-content: space-between;

  .nav {
    @include flex-container;
    flex-direction: column;
    @include tablet-and-desktop {
      flex-direction: row;
      width: 100%;
      margin-left: $content-padding;
    }
  }

  .language-switch {
    @include body-semibold;
    margin-left: 100px;
    cursor: pointer;
  }

  .nav-link {
    @include body;
    margin-left: 40px;
    min-height: 40px;
    cursor: pointer;
    position: relative;
    color: $gray-900;

    &.active,
    &:hover {
      @include animation-ease;
      color: $red-900;
      text-shadow: 0 0 1px $red-900;
    }
  }

  @include mobile {
    .nav-link {
      display: none;
    }
  }
}

