#header-links {
  @include flex-container;
  align-items: center;
  justify-content: space-between;

  .nav {
    @include flex-container;
    flex-direction: column;
    @include tablet-and-desktop {
      flex-direction: row;
      width: 100%;
      margin-left: $content-padding;
    }
  }

  .language-switch {
    @include body-semibold;
    margin-left: 100px;
    cursor: pointer;
  }
  //TODO - tekst skacze po najechaniu trzeba to poprawić
  .nav-link {
    @include body;
    margin-left: 40px;
    min-height: 40px;
    cursor: pointer;
    position: relative;
    color: $gray-900;

    &.active,
    &:hover {
      @include animation-ease;
      color: $red-900;
      font-weight: bold;

      &:after {
        content: "";
        width: 33%;
        height: 2px;
        border-radius: 50%;
        background: $red-900;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

