nav {
  @import "header-toggle";
  @import "header-links";
  @import "header-brand";
  @import "header-feed-subscribe";

  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-russian-black;
  height: $navbar-height-mobile;
  z-index: $header-z-index;

  @include tablet-and-desktop {
    height: $navbar-height-desktop;
    background-color: $color-transparent-black;
    .header {
      @include flex-container;
      align-items: center;
      height: $navbar-height-desktop;
      @include desktop {
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .container {
    @include content-container;
    @include flex-container;
    flex-direction: column;
    @include tablet-and-desktop {
      flex-direction: row;
    }
  }

  .header-logo {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }

  .logo-invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }

  .mobile-search {
    @include tablet-and-desktop {
      display: none;
    }
  }

}
