.header-brand {
  @include flex-container;
  flex-direction: row;
  align-items: center;
  height: $navbar-height-mobile;
  @include tablet-and-desktop {
    height: $header-image-height-desktop;
  }
  img {
    width: $header-image-width-mobile;
    height: $header-image-height-mobile;
    @include tablet-and-desktop {
      width: $header-image-width-desktop;
      height: $header-image-height-desktop;
    }
  }

  a {
    @include flex-container;
    width: 100%;
    align-content: center;
    justify-content: center;
  }
}
