<table id="responseTimes">
    <thead>
        <tr>
            <th>Runtime</th>
            <th>Region</th>
            <th>Requests</th>
            <th>Min</th>
            <th>95th pct</th>
            <th>Max</th>
            <th>Mean</th>
            <th>Std Dev</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>nodejs14</td>
            <td>europe-west3</td>
            <td>20796</td>
            <td>85</td>
            <td>909</td>
            <td>1591</td>
            <td>576</td>
            <td>182</td>
        </tr>
        <tr>
            <td>go113</td>
            <td>europe-west3</td>
            <td>25681</td>
            <td>83</td>
            <td>856</td>
            <td>7607</td>
            <td>466</td>
            <td>213</td>
        </tr>
        <tr>
            <td>java11</td>
            <td>europe-west3</td>
            <td>20408</td>
            <td>83</td>
            <td>1078</td>
            <td>2675</td>
            <td>587</td>
            <td>259</td>
        </tr>
        <tr>
            <td>python39</td>
            <td>europe-west3</td>
            <td>20810</td>
            <td>83</td>
            <td>893</td>
            <td>1601</td>
            <td>575</td>
            <td>160</td>
        </tr>
        <tr>
            <td>ruby27</td>
            <td>europe-west3</td>
            <td>25818</td>
            <td>82</td>
            <td>711</td>
            <td>1791</td>
            <td>464</td>
            <td>156</td>
        </tr>
        <tr>
            <td>dotnet3</td>
            <td>europe-west3</td>
            <td>17489</td>
            <td>84</td>
            <td>1003</td>
            <td>3912</td>
            <td>685</td>
            <td>218</td>
        </tr>
        <tr>
            <td>php74</td>
            <td>europe-west3</td>
            <td>25162</td>
            <td>84</td>
            <td>793</td>
            <td>1494</td>
            <td>476</td>
            <td>160</td>
        </tr>
        <tr>
            <td>nodejs14</td>
            <td>us-central1</td>
            <td>16341</td>
            <td>192</td>
            <td>1100</td>
            <td>2789</td>
            <td>733</td>
            <td>244</td>
        </tr>
        <tr>
            <td>go113</td>
            <td>us-central1</td>
            <td>19738</td>
            <td>192</td>
            <td>1017</td>
            <td>1757</td>
            <td>607</td>
            <td>213</td>
        </tr>
        <tr>
            <td>java11</td>
            <td>us-central1</td>
            <td>16545</td>
            <td>190</td>
            <td>1400</td>
            <td>7796</td>
            <td>724</td>
            <td>339</td>
        </tr>
        <tr>
            <td>python39</td>
            <td>us-central1</td>
            <td>14907</td>
            <td>192</td>
            <td>1200</td>
            <td>2302</td>
            <td>804</td>
            <td>248</td>
        </tr>
        <tr>
            <td>ruby27</td>
            <td>us-central1</td>
            <td>17968</td>
            <td>193</td>
            <td>1091</td>
            <td>3559</td>
            <td>667</td>
            <td>229</td>
        </tr>
        <tr>
            <td>dotnet3</td>
            <td>us-central1</td>
            <td>14444</td>
            <td>192</td>
            <td>1197</td>
            <td>3407</td>
            <td>830</td>
            <td>240</td>
        </tr>
        <tr>
            <td>php74</td>
            <td>us-central1</td>
            <td>16172</td>
            <td>193</td>
            <td>1104</td>
            <td>2088</td>
            <td>741</td>
            <td>192</td>
        </tr>
        <tr>
            <td>nodejs14</td>
            <td>asia-east2</td>
            <td>25112</td>
            <td>352</td>
            <td>780</td>
            <td>2086</td>
            <td>477</td>
            <td>142</td>
        </tr>
        <tr>
            <td>go113</td>
            <td>asia-east2</td>
            <td>28831</td>
            <td>350</td>
            <td>587</td>
            <td>1604</td>
            <td>415</td>
            <td>112</td>
        </tr>
        <tr>
            <td>java11</td>
            <td>asia-east2</td>
            <td>22617</td>
            <td>352</td>
            <td>1093</td>
            <td>5098</td>
            <td>530</td>
            <td>292</td>
        </tr>
        <tr>
            <td>python39</td>
            <td>asia-east2</td>
            <td>20441</td>
            <td>373</td>
            <td>889</td>
            <td>1786</td>
            <td>586</td>
            <td>146</td>
        </tr>
        <tr>
            <td>ruby27</td>
            <td>asia-east2</td>
            <td>28630</td>
            <td>349</td>
            <td>589</td>
            <td>1872</td>
            <td>418</td>
            <td>106</td>
        </tr>
        <tr>
            <td>dotnet3</td>
            <td>asia-east2</td>
            <td>21549</td>
            <td>364</td>
            <td>896</td>
            <td>3197</td>
            <td>556</td>
            <td>184</td>
        </tr>
        <tr>
            <td>php74</td>
            <td>asia-east2</td>
            <td>26001</td>
            <td>351</td>
            <td>715</td>
            <td>1786</td>
            <td>461</td>
            <td>140</td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    new simpleDatatables.DataTable("#responseTimes", {
        searchable: false,
        paging: false,
        info: false
    });
</script>