<div class="sidebar-container">
    <div class="sidebar-title">
        {{ site.data.translations['announcements'][page.lang] }}
    </div>
    <div class="ad-container">
        <div class="ad-titile">
            {{ site.data.translations['adTitle'][page.lang] }}
        </div>
        <div class="ad-red-text">
            {{ site.data.translations['adDate'][page.lang] }}
        </div>
        <div class="ad-event-title">
            {{ site.data.translations['adDescription'][page.lang] }}
        </div>
        <div class="ad-icons-container">
            <a class="ad-link-icon" href="https://www.meetup.com/pl-PL/Consdata/events/274821386/">
                <i class="fa fa-meetup event-icon"></i>
            </a>
            <a class="ad-link-icon" href="https://www.facebook.com/events/140503697812590">
                <i class="fa fa-facebook-official event-icon"></i>
            </a>
        </div>

    </div>
</div>
