{% if post.author %}
{% assign author = site.data.authors[post.author] %}
<div class="author-bio">
    {% if author.image %}
    <div class="author-image">
        <img src="/assets/img/authors/{{author.image}}">
    </div>
    {% endif %}
    <div class="card">
        <div class="header">
            {% if author.name %}
            <div class="author-name">{{author.name}}</div>
            {% endif %}
            <div class="social-buttons">
                {% if author.github %}
                <div class="author-github">
                    <a href="https://github.com/{{ author.github | cgi_escape | escape }}" title="{{ author.github | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> {{ author.github }}</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="content">
            {% if author.bio %}
            <div class="bio">{{author.bio}}</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="author-bio-mobile">
    <div class="header">
        {% if author.image %}
        <div class="author-image">
            <img src="/assets/img/authors/{{author.image}}">
        </div>
        {% endif %}
        <div class="name-wrapper">
            {% if author.name %}
            <div class="author-name">{{author.name}}</div>
            {% endif %}
            <div class="social-buttons">
                {% if author.github %}
                <div class="author-github">
                    <a href="https://github.com/{{ author.github | cgi_escape | escape }}" title="{{ author.github | escape }}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> {{ author.github }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content">
        {% if author.bio %}
        <div class="bio">{{author.bio}}</div>
        {% endif %}
    </div>
</div>
{% endif %}
