{% assign assets = include.post.path | remove: "_posts/" | remove: ".md" %}
<div class="big-post-tile">
    <a class="big-post-image" href="{{ include.post.url }}">
        <img class="big-post-image" src="{{include.post.image}}" alt="postimage"/>
    </a>
    <div class="big-post-tile-content">
        {% assign author = site.authors | where: "short_name", include.post.author | first %}
        {% assign coauthor = site.authors | where: "short_name", include.post.coauthor | first %}
        <div class="badge-panel">
            <div class="badge">{{ include.post.tags[0] }}</div>
        </div>
        <a href="{{ include.post.url }}">
            <h2 class="no-breaking-word">
                {{ include.post.title }}
            </h2>
        </a>
        <p class="big-post-tile-post-description no-breaking-word">
            {% if include.post.description %}
            {{include.post.description}}
            {% else %}
            {{include.post.content | strip_html | truncatewords: 50}}
            {% endif %}
        </p>
        <div class="tile-author">
            {%- if include.post.coauthor -%}
            <div class="authors-container">
                <a href="{{ author.url }}" class="author-name author-img">
                    <img class="small-author-image" src="/assets/img/authors/{{author.image}}" alt="author">
                </a>
                <a href="{{ coauthor.url }}" class="author-name coauthor author-img">
                    <img class="small-author-image" src="/assets/img/authors/{{coauthor.image}}" alt="coauthor">
                </a>
            </div>
            <div class="post-info">
                <div>
                    <a href="{{ coauthor.url }}" class="author-name">{{author.name | split: ' ' | first}},</a>
                    <a href="{{ author.url }}" class="author-name">{{coauthor.name | split: ' ' | first}}</a>
                </div>
                <span class="post-date">{% include post-date.html date=include.post.date lang=site.active_lang short=true%}</span>
            </div>
            {%- else -%}
            <a href="{{ author.url }}" class="author-name author-img">
                <img class="small-author-image" src="/assets/img/authors/{{author.image}}" alt="author">
            </a>
            <div class="post-info">
                <a href="{{ author.url }}" class="author-name">{{author.name}}</a>
                <span class="post-date">{% include post-date.html date=include.post.date lang=site.active_lang short=true%}</span>
            </div>
            {%- endif -%}
        </div>
    </div>
</div>
