<div class="sidebar-container">
    <div class="sidebar-title">
        Ogłoszenia
    </div>
    <div class="ad-container">
        <div class="ad-titile">
            Dołącz do webinaru <br/> Consdata Tech #5
        </div>
        <div class="ad-red-text">
            28.01.2021, czwartek, 18.00-19.30
        </div>
        <div class="ad-event-title">
            Domain Driven Design <br/> w oparciu o Axon Framework
        </div>
        <div class="ad-icons-container">
            <a class="ad-link-icon" href="https://www.meetup.com/pl-PL/Consdata/events/274821386/">
                <i class="fa fa-meetup event-icon"></i>
            </a>
            <a class="ad-link-icon" href="https://www.facebook.com/events/140503697812590">
                <i class="fa fa-facebook-official event-icon"></i>
            </a>
        </div>

    </div>
</div>
