<div class="sidebar-container" id="recommended-posts-sidebar">
    <div class="sidebar-title">
        {{ site.data.translations['joinUs'][page.lang] }}
    </div>
    <div class="sidebar-latest-posts-container">
        <ul class="sidebar-posts">
            <li class="sidebar-post no-breaking-word">
                <a href="https://consdata.com/pl/kariera/dlaczego-consdata" target="_blank">
                    {{ site.data.translations['whyConsdata'][page.lang] }}</a>
            </li>
            <li class="sidebar-post no-breaking-word">
                <a href="https://consdata.com/pl/kariera/trwajace-rekrutacje" target="_blank">
                    {{ site.data.translations['allJobs'][page.lang] }}</a>
            </li>
        </ul>
    </div>
</div>
