<div class="sidebar-container">
    <div class="sidebar-title">
        Ogłoszenia
    </div>
    <div class="consdata-tech-ad">
        <div class="signup-modal-title">
            Dołącz do webinairu Consdata Tech #4
        </div>
        <div class="signup-modal-red-text">
            26.11.2020, czwartek, 18.00-19.00
        </div>
        <div class="event-title">
            Spring Webflux - reaktywne programowanie w Springu
        </div>
        <div class="signup-icons-container">
            <a class="signup-link-icon" href="https://www.meetup.com/pl-PL/Consdata/events/274033774/">
                <i class="fa fa-meetup event-icon"></i>
            </a>
            <a class="signup-link-icon" href="https://www.facebook.com/events/3787641714613193/">
                <i class="fa fa-facebook-official event-icon"></i>
            </a>
        </div>

    </div>
</div>
