<div class="sidebar-container">
    <div class="sidebar-title">
        Ogłoszenia
    </div>
    <div class="ad-container">
        <div class="ad-titile">
            Dołącz do webinairu <br/> Consdata Tech #4
        </div>
        <div class="ad-red-text">
            26.11.2020, czwartek, 18.00-19.00
        </div>
        <div class="ad-event-title">
            Spring Webflux <br/> Reaktywne programowanie w Springu
        </div>
        <div class="ad-icons-container">
            <a class="ad-link-icon" href="https://www.meetup.com/pl-PL/Consdata/events/274033774/">
                <i class="fa fa-meetup event-icon"></i>
            </a>
            <a class="ad-link-icon" href="https://www.facebook.com/events/3787641714613193/">
                <i class="fa fa-facebook-official event-icon"></i>
            </a>
        </div>

    </div>
</div>
