<div class="sidebar-container" id="recommended-posts-sidebar">
    <div class="sidebar-title">
        {{ site.data.translations['joinUs'][page.lang] }}
    </div>
    <div class="sidebar-last-posts-container">
        <ul class="sidebar-posts">
            <li class="sidebar-post no-breaking-word">
                <a href="https://consdata.com/pl/kariera/trwajace-rekrutacje/poznan/senior-fullstack-developer-java-angular"
                   lang="pl">
                    <div class="job-offer">
                        <span class="job-title">SENIOR FULLSTACK DEVELOPER (JAVA + ANGULAR)</span>
                        <span class="job-description">Poznań (hybrydowo) lub zdalnie</span>
                        <span class="job-salary">
                            UoP 13 500 - 18 900 PLN brutto <br/>
                            B2B 17 890 - 24 990 PLN netto
                        </span>
                    </div>
                </a>
            </li>
            <li class="sidebar-post no-breaking-word">
                <a href="https://consdata.com/pl/kariera/trwajace-rekrutacje/poznan/regular-fullstack-developer-java-angular"
                   lang="pl">
                    <div class="job-offer">
                        <span class="job-title">REGULAR FULLSTACK DEVELOPER (JAVA + ANGULAR)</span>
                        <span class="job-description">Poznań (hybrydowo) lub zdalnie</span>
                        <span class="job-salary">
                            UoP 10 200 - 14 850 PLN brutto <br/>
                            B2B 13 590 - 19 680PLN netto
                        </span>
                    </div>
                </a>
            </li>
            <li class="sidebar-post no-breaking-word">
                <a class="clickable-offer" href="https://www.consdata.com/pl/kariera/trwajace-rekrutacje#tag-developer">
                    <div class="other-job-offers">
                        <span class="job-title">ZOBACZ WSZYSTKIE OGŁOSZENIA</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
