<div class="sidebar-container offers" id="offers-sidebar">
    <div class="sidebar-title offers-title">
        {{ site.data.translations['joinUs'][site.active_lang] }}
    </div>
    <hr class="offers-separator">
    <ul class="sidebar-posts offers-list">
        <li class="sidebar-post no-breaking-word">
            <a href="https://consdata.com/pl/kariera/trwajace-rekrutacje/poznan/senior-fullstack-developer-java-angular"
               lang="pl">
                <div class="job-offer">
                    <span class="job-title">SENIOR FULLSTACK DEVELOPER (JAVA + ANGULAR)</span>
                    <span class="job-description">Poznań (hybrydowo) lub zdalnie</span>
                    <span class="job-salary">
                            UoP 14 900 - 20 590 PLN brutto <br/>
                            B2B 19 680 - 27 220 PLN netto
                        </span>
                </div>
            </a>
        </li>
        <li class="sidebar-post no-breaking-word">
            <a href="https://consdata.com/pl/kariera/trwajace-rekrutacje/poznan/regular-fullstack-developer-java-angular"
               lang="pl">
                <div class="job-offer">
                    <span class="job-title">REGULAR FULLSTACK DEVELOPER (JAVA + ANGULAR)</span>
                    <span class="job-description">Poznań (hybrydowo) lub zdalnie</span>
                    <span class="job-salary">
                            UoP 11 300 - 15 900 PLN brutto <br/>
                            B2B 14 950 - 21 000 PLN netto
                        </span>
                </div>
            </a>
        </li>
        <li class="sidebar-post no-breaking-word">
            <a class="clickable-offer" href="https://www.consdata.com/pl/kariera/trwajace-rekrutacje#tag-developer">
                <div class="other-job-offers">
                    <span class="job-title">ZOBACZ WSZYSTKIE OGŁOSZENIA</span>
                </div>
            </a>
        </li>
    </ul>
</div>
