<footer>
    <div class="container">
        <a class="footer-logo" href="https://consdata.com/pl">
            <img src="/assets/img/logo-nowe.png" alt="consdata.com">
        </a>
        <div class="footer-content">
            <div class="footer-menu">
                <ul class="menu">
                    <li class="menu-item">
                        <p class="menu-title">{{ site.data.translations['contact'][site.active_lang] }}</p>
                        <ul class="submenu">
                            <li>
<!--                                TO DO jaki mail ?-->
                                <a href="mailto:sales@consdata.com">sales@consdata.com</a>
                            </li>
                            <li>
                                <p>+48 61 41 51 000</p>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <p class="menu-title">{{ site.data.translations['office'][site.active_lang] }}</p>
                        <ul class="submenu">
                            <li>
                                <p>K9Office<br>Krysiewicza 9/14<br>61-825 Poznań<br>Polska</p>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <p class="menu-title">{{ site.data.translations['solutions'][site.active_lang] }}</p>
                        <ul class="submenu">
                            <li>
                                <a href="https://eximee.com" target="_blank">Eximee</a>
                            </li>
                            <li>
                                <a href="https://kouncil.io" target="_blank">Kouncil</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="/" class="menu-title">Blog</a>
                        <a href="https://consdata.com/pl/kariera/trwajace-rekrutacje" class="menu-title" target="_blank">{{
                            site.data.translations['joinUs'][site.active_lang] }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="small-footer-container">
        <div>
            <span>Copyright © 2024 Consdata. All rights reserved.</span>
            <!--    TODO jakiś anchor tag do privacy ?-->
            <span>Privacy Policy & Cookies</span>
        </div>
        <div class="social-footer">
            <a target="_blank" href="https://www.facebook.com/consdatacom">
                <img class="icon" src="/assets/icon/social-f.svg">
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/consdata">
                <img class="icon" src="/assets/icon/social-in.svg">
            </a>
            <a target="_blank" href="https://github.com/Consdata">
                <img class="icon" src="/assets/icon/github.svg">
            </a>
            <a target="_blank" href="https://forum.eximee.com/">
                <img class="icon" src="/assets/icon/social-icon.svg">
            </a>
        </div>
    </div>
</footer>
