<footer>
    <div class="container">
        <div class="footer-item email"><a href="mailto:biuro@consdata.pl">biuro@consdata.pl</a></div>
        <div class="footer-item social-buttons">
            <div class="social-button-wrapper">
                <a class="social-btn" target="_blank" href="https://twitter.com/consdata" title="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="social-button-wrapper">
                <a class="social-btn" target="_blank" href="https://www.facebook.com/consdatacom" title="Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>
            <div class="social-button-wrapper">
                <a class="social-btn" target="_blank" href="https://www.youtube.com/channel/UCv4d_uCiLdDkOFk8NtDsU_w" title="Youtube">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
            <div class="social-button-wrapper">
                <a class="social-btn" target="_blank" href="https://www.linkedin.com/company/1456906" title="Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="footer-item legals">
            <div class="legal-link-wrapper">
                <a href="https://www.consdata.pl/polityka-prywatnosci" target="_blank">Polityka prywatności</a>
            </div>
            <div class="legals-separator">
                |
            </div>
            <div class="legal-link-wrapper">
                <a href="https://www.consdata.com" target="_blank">© Consdata 2020</a>
            </div>
        </div>
    </div>
</footer>