<nav class="site-header">
    <div class="container">
        <div class="header navbar-default" role="navigation">
            <div class="header-brand">
                <a class="header-logo" href="/">
                    <img src="/assets/img/logo-nowe.png" alt="consdata.com">
                </a>
                <div class="mobile-search">
                    {% include search-component-mobile.html %}
                </div>
            </div>
            <div id="header-links">
                <div>
                    <a class="nav-link" href="/">{{ site.data.translations['techBlog'][site.active_lang] }}</a>
                    <a class="nav-link" href="https://consdata.com/pl/blog/biznesowy">{{ site.data.translations['businessBlog'][site.active_lang] }}</a>
                    <a class="nav-link" href="https://consdata.com/pl/blog/hr">{{ site.data.translations['hrDepartment'][site.active_lang] }}</a>
                </div>
                {% if site.active_lang == "en" %}
                <a class="language-switch" onclick="navigate(' {{ page.url }}')">PL</a>
                {% else %}
                <a class="language-switch" onclick="navigate('/en{{ page.url }}')">EN</a>
                {% endif %}
            </div>

        </div>
    </div>
</nav>
<script>
    function navigate(baseUrl) {
        const queryParams = window.location.search;
        window.location.href = baseUrl + queryParams;
    }
</script>
