<nav class="site-header">
    <div class="container">
        <div class="header navbar-default" role="navigation">
            <div class="header-brand">
                <div class="nav navbar-nav">
                    <div class="nav-link"><a href="https://www.consdata.com/pl/" target="_blank">BLOG.CONSDATA.TECH</a></div>
                </div>

                <div class="mobile-search">
                    {% include search-component-mobile.html %}
                </div>
            </div>
            <div id="header-links" class="mobile-nav">
                <a class="header-logo" href="https://consdata.com/pl">
                    <img src="/assets/img/logo-nowe.png" alt="consdata.com">
                </a>
                <div class="feed-subscribe">
                    <a href="{{ "/feed.xml" | relative_url }}">
                    <svg class="svg-icon">
                        <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                    </svg>
                    </a>
                </div>
            </div>

        </div>
    </div>
</nav>
