{% if page.lang-ref %}
<div class="post-language-options">
    <p>{{ site.data.translations['languageOptions'][page.lang]}}</p>
    <ul>
        <li>
            {% if site.active_lang == "en" %}
            <a href=" {{ page.url }} " title="View in Polish">
                <div class="flag pl">
                    <div class="overlay">
                        <p class="lang-code">PL</p>
                    </div>
                </div>
            </a>
            {% else %}
            <a href="/en{{ page.url }} " title="Wyświetl po angielsku">
                <div class="flag en">
                    <div class="overlay">
                        <p class="lang-code">EN</p>
                    </div>
                </div>
            </a>
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}
