<div class="most-popular-categories sidebar-item">
    <div class="title">Najpopularniejsze kategorie:</div>
    <ul>
        {% capture tags %}
        {% for tag in site.tags %}
        <li data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}">
            <a href="/tag/{{ tag[0] | slugify: 'pretty' }}">{{ tag[0] }}</a>
        </li>
        {% endfor %}
        {% endcapture %}
        {{ tags | split:'</li>' | sort | slice: 0,6 | join:'</li>' }}
    </ul>
</div>
