<div>
    <a class="author" href="{{author.url}}">
        <img class="author-image" src="/assets/img/authors/{{author.image}}" alt="author">
        <span class="author-name">{{author.name}}</span>
        <a class="author" href="https://github.com/{{author.github}}">
            <img class="github-icon" src="/assets/icon/github.svg">
        </a>
    </a>
    {%- if coauthor -%}
    <a class="author authors-space" href="{{coauthor.url}}">
        <img class="author-image" src="/assets/img/authors/{{coauthor.image}}" alt="author">
        <span class="author-name">{{coauthor.name}}</span>
        <a class="author" href="https://github.com/{{coauthor.github}}">
            <img class="github-icon" src="/assets/icon/github.svg">
        </a>
    </a>
    {% endif %}
</div>
