<div class="post-metadata">
    <div class="post-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d-%m-%Y" }}</div>
    {% if post.author %}
    <div class="article-author" itemscope itemtype="http://schema.org/Person">
        <div class="author-separator">•</div>
        {% if author.image %}
        <div class="author-image">
            <img src="/assets/img/authors/{{author.image}}">
        </div>
        {% endif %}
        {% if author.name %}
        <div class="author-name" itemprop="name">{{author.name}}</div>
        {% endif %}
    </div>
    {% endif %}
</div>