<div class="sidebar-container">
    <div class="sidebar-title">
        Podobne wpisy
    </div>
    <div class="sidebar-latest-posts-container">
        <ul class="sidebar-posts" id="recommended-posts">

        </ul>
    </div>
</div>

<script>
    window.store = {
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
    "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "tags": "{{ post.tags | join: ' '}}",
        "url": "{{ post.url | xml_escape }}",
        "author": "{{ author.name }}",
        "image": "{{ author.image }}",
        "date": "{{ post.date | date: '%d-%m-%Y' }}"
    }
    {% unless forloop.last %},{% endunless %}
    {% endfor %}
    };
</script>
<script>
        function displayResults(results, store) {
            const container = document.getElementById("recommended-posts");
            if (results.length) {
                results
                    .slice(1, 6)
                    .forEach(result => {
                        const item = store[result.ref];
                        const listElement = document.createElement('li');
                        const anchor = document.createElement('a');
                        const postTitle = document.createTextNode(item.title);
                        listElement.classList.add('sidebar-post');
                        anchor.setAttribute('href', item.url);
                        anchor.appendChild(postTitle);
                        listElement.appendChild(anchor);
                        container.appendChild(listElement);
                });
            }
        }

        const tags = "{{ post.tags | join: ' ' }}";
        const idx = lunr(function () {
            this.field('tags');

            for (let key in window.store) {
                this.add({
                    'id': key,
                    'title': window.store[key].title,
                    'tags': window.store[key].tags,
                });
            }
        });
        const results = idx.search(tags);
        displayResults(results, window.store)

</script>
