{% if site.active_lang == "en" %}
<form action="/en/search.html" method="get">
{% else %}
<form action="/search.html" method="get">
{% endif %}
    {{site.active_lang | inspect}}
    <div class="search-input-container">
        <input type="text" placeholder="{{ site.data.translations['search'][site.active_lang] }}" id="search-box-mobile" name="query" class="search-input" autocomplete="off">
        <i class="fa fa-search search-icon" onclick="expandInputMobile()"></i>
    </div>
</form>

<script>
    const inputMobile = document.getElementById("search-box-mobile");
    const logo = document.getElementById("header-logo");
    const expandInputMobile = () => {
        inputMobile.classList.toggle("expanded");
        logo.classList.toggle("header-logo");
        logo.classList.toggle("logo-invisible");
    };
</script>
