{% assign assets = include.post.path | remove: "_posts/" | remove: ".md" %}
{% assign author = site.authors | where: "short_name", include.post.author | first %}
{% assign coauthor = site.authors | where: "short_name", include.post.coauthor | first %}

<div class="col-5 post-tile">
    <a href="{{ include.post.url }}">
        <img class="tile-image small-post-image" src="{{ include.post.image }}" alt="post-image"/>
    </a>
    <div class="post-tile-content">
        <div class="badge">{{ include.post.tags[0] }}</div>
        <h4 class="post-title no-breaking-word">
            <a href="{{ include.post.url }}">{{ include.post.title }}</a>
        </h4>

        <p class="post-description no-breaking-word">
            <a href="{{ include.post.url }}">
                {% if include.post.description %}
                {{include.post.description | strip_html | truncatewords: 30}}
                {% else %}
                {{include.post.content | strip_html | truncatewords: 20}}
                {% endif %}
            </a>
        </p>

        <div class="tile-author">
            {%- if include.post.coauthor -%}
            <a href="{{ coauthor.url }}" class="author-name coauthor">
                <img class="small-author-image" src="/assets/img/authors/{{coauthor.image}}" alt="coauthor" width="50"
                     height="50">
            </a>
            {%- endif -%}
            <a href="{{ author.url }}" class="author-name">
                <img class="small-author-image" src="/assets/img/authors/{{author.image}}" alt="author">
            </a>
            <div class="post-info">
<!--                TODO - wygląd dla coauthor-->
                {%- if include.post.coauthor -%}
                    <a href="{{ coauthor.url }}" class="author-name">{{author.name | split: ' ' | first}}, {{coauthor.name | split: ' ' | first}}</a>
                {% else %}
                    <a href="{{ author.url }}" class="author-name">{{author.name}}</a>
                {% endif %}
                <span class="post-date">{% include post-date.html date=include.post.date lang=site.active_lang short=true%}</span>
            </div>
        </div>
    </div>
</div>
