$tablet-breakpoint: 900px;
$desktop-breakpoint: 1200px;

$app-min-width: 320px;
$mobile-content-width: 100%;
$tablet-content-width: 100%;
$desktop-content-width: 1170px;

$content-padding: 15px;

$base-line-height: 1.45;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

$default-font-size: 14px;
$small-font-size: 12px;

$navbar-height-mobile: 55px;
$navbar-height-desktop: 74px;

$mobile-footer-item-height: 40px;
$mobile-footer-height: $mobile-footer-item-height * 3;
$desktop-footer-height: 96px;