// Assets
$images-dir: '/assets/img/';
$icon-dir: '/assets/icon/';

// Viewport
$desktop-breakpoint: 1200px;
$desktop-width: 1200px;
$post-content-width:870px;
$post-sidebar-content-width:280px;

$mobile-content-width: 100%;
$tablet-content-width: 100%;
$tablet-breakpoint: 900px;
$app-min-width: 320px;
$navbar-height-mobile: 42px;
$navbar-height-desktop: 80px;
$narrower-side-margins-desktop: 25%;
$blog-side-margins-desktop: 20%;
$blog-side-margins-tablet: 15%;

// Paddings, margins
$desktop-section-space: 120px;
$mobile-section-space: 72px;

$desktop-section-medium-space: 72px;
$mobile-section-medium-space: 36px;

$desktop-section-small-space: 64px;
$mobile-section-small-space: 48px;

$desktop-section-xs-space: 48px;
$mobile-section-xs-space: 24px;


// Typography
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$default-font-size: 16px;
$big-font-size: 24px;
$small-font-size: 10px;
$base-line-height: 30px;


// Specific
$round-edge: 24px;
$medium-round-edge: 12px;
$small-round-edge: 8px;
$main-card-img-tile-width: 592px;
$main-card-img-tile-height: 435px;
$card-img-tile-width: 360px;
$card-img-tile-height: 280px;
$avatar-size: 42px;
$avatar-size-mobile: 32px;

$header-image-width-mobile: 151px;
$header-image-height-mobile: 15px;

$header-image-width-desktop: 172px;
$header-image-height-desktop: 17px;

$small-padding: 10px;
$blog-mobile-margin: 0 20px;

//--- to delete
$svg-icon-size: 16px;
$small-font-size: 12px;
$double-content-padding: 30px;
$post-tile-margin-bottom: 40px;
$post-tile-margin-top: 20px;
$content-padding: 15px;
$very-small-padding: 5px;
