@mixin desktop() {
  @media (min-width: $desktop-breakpoint) {
    @content
  }
}

@mixin tablet() {
  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    @content
  }
}

@mixin mobile() {
  @media (max-width: $tablet-breakpoint - 1px) {
    @content
  }
}

@mixin content-container() {
  width: $mobile-content-width;

  padding-right: $content-padding;
  padding-left: $content-padding;

  margin-right: auto;
  margin-left: auto;

  @include desktop {
    width: $desktop-content-width;
  }

  @include tablet {
    width: $tablet-content-width;
  }
}

@mixin flex-container() {
  display: flex;
  min-width: 1px;
}