$color-white: #fff;
$color-black: #000;
$color-logo-red: #b31536;
$color-transparent-black: rgba(0, 0, 0, 0.50);
$color-dark-gray: #586069;
$color-medium-gray: #7a7a7a;
$color-light-gray: #a1a9b0;

$color-code-background: hsla(31,15%,50%,.1)