$color-white: #fff;
$color-black: #000;
$color-logo-red: #b31536;
$color-logo-red-dark: #9e152f;
$color-highlight-blue: #1557b3;
$color-transparent-black: rgba(0, 0, 0, 0.50);
$color-russian-black: #0F1726;
$color-dark-gray: #586069;
$color-medium-gray: #7a7a7a;
$color-light-gray: #a1a9b0;
$color-very-dark-gray: #333;
$color-gray-80: #ccc;
$color-blackcurrant: #252426;
$color-stormgray: #7e8084;
$color-grape: #434244;

$color-social-buttons: #212739;

$color-code-background: hsla(31,15%,50%,.1);

$facebook-color: #3b5999;
$twitter-color: #55acee;
$linkedin-color: #0077B5;
