html,
body,
button,
input,
div,
span {
  font-size: $default-font-size;
  font-family: Raleway, sans-serif;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  color: $color-dark-gray;
}


