@font-face {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Manrope-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/Manrope-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: url("/assets/fonts/Manrope-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Manrope-Bold.ttf") format('truetype');
}

html,
body,
button,
input,
div,
span {
  font-size: $default-font-size;
  font-family: "Manrope", sans-serif;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  color: $gray-900;
}

h1 {
  font-size: 56px;
  font-weight: $font-weight-semibold;
  line-height: 64px;

  //@include mobile {
  //  font-size: 26px;
  //  line-height: 42px;
  //}
}

h2 {
  font-size: 52px;
  font-weight: $font-weight-semibold;
  line-height: 64px;

  //@include mobile {
  //  font-size: 20px;
  //  line-height: 32px;
  //}
}

h3 {
  font-size: 40px;
  font-weight: $font-weight-semibold;
  line-height: 60px;

  //@include mobile {
  //  font-size: 16px;
  //  line-height: 30px;
  //}
}

h4 {
  font-size: 30px;
  font-weight: $font-weight-semibold;
  line-height: 42px;
}

h5 {
  font-size: 20px;
  font-weight: $font-weight-semibold;
  line-height: 32px;
}
