footer {
  @import "footer-email";
  @import "footer-social-buttons";
  @import "footer-legals";

  background-color: $color-black;
  height: $mobile-footer-height;
  @include tablet-and-desktop {
    height: $desktop-footer-height;
  }
  .footer-item {
    height: $mobile-footer-item-height;
    width: 100%;
    @include tablet-and-desktop {
      height: $desktop-footer-height;
    }
  }

  .container {
    @include content-container;
    @include flex-container;
    flex-direction: column;
    @include tablet-and-desktop {
      flex-direction: row;
    }
  }
}