.social-buttons {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-left: 10px;
  }

  .social-btn {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #212739;
    display: inline-block;
    color: $color-white;
    line-height: 46px;
    text-align: center;
    font-size: 24px;

    &:hover {
      background-color: $color-logo-red;
    }
  }
}