footer {
  @import "footer-company";
  @import "footer-social-buttons";
  @import "footer-legals";
  @import "footer-copyright";

  background-color: $color-grape;

  .footer-item {
    @include flex-container;
    flex-direction: column;
    letter-spacing: 1px;

    width: 100%;
    .label {
      @include flex-container;
      color: $color-white;
      font-size: 20px;
      align-items: center;
      height: 30px;

      margin-top: 15px;
      @include tablet-and-desktop {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
    .item-content {
      color: $color-stormgray;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .container {
    @include content-container;
    @include flex-container;
    flex-direction: column;
    @include tablet-and-desktop {
      flex-direction: row;
    }
    justify-content: center;
    align-items: flex-start;

    padding-top: 30px;
    padding-bottom: 30px;
  }
}
