.copyright {
  @include flex-container;
  background-color: $gray-900;
  color: $gray-900;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;
}
