.legals {
  @include flex-container;

  @include desktop {
    margin-left: 4*$small-padding;
  }

  a {
    text-decoration: none;
    color: $gray-900;
    &:hover {
      color: $color-white;
    }
  }

}
