.social-buttons {
  @include flex-container;
  $social-button-size: 36px;

  @include desktop {
    margin-right: 2*$small-padding;
  }

  .social-buttons-container {
    @include flex-container;
    flex-direction: row;
    margin-top: 20px;
  }

  .social-btn {
    @include flex-container;
    align-items: center;
    justify-content: center;


    width: $social-button-size;
    height: $social-button-size;
    border-radius: 50%;
    border: 2px $gray-900 solid;
    color: $gray-900;
    line-height: 46px;
    text-align: center;
    font-size: 24px;
    margin-right: 10px;

    .fa {
      font-size: 24px;
      &.fa-linkedin {
        margin-left: 2px;
      }
      &.fa-youtube {
        margin-left: 2px;
      }
    }

    &:hover {
      color: $color-white;
      border-color: $color-white;
    }
  }
}
