@import "links";

body {
  padding: 0;
  margin: 0;
  min-width: $app-min-width;
}

main {
  margin-top: $navbar-height-mobile;
  padding-top: $content-padding;
  padding-bottom: $content-padding;

  min-height: calc(100vh - #{$navbar-height-mobile + $content-padding*2 + $mobile-footer-height});
  @include tablet-and-desktop {
    min-height: calc(100vh - #{$navbar-height-mobile + $content-padding*2 + $desktop-footer-height});
  }
  @include content-container;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}