@import "links";

body {
  padding: 0;
  margin: 0;
  min-width: $app-min-width;
}

main {
  margin: 50px auto 0;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

.no-breaking-word {
  &, & * {
    word-break: keep-all;
  }
}
