$icon-size: 18px;

.cookie-notice {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: calc(100% - 2rem);
  background: $gray-100;
  border: 1px solid $gray-300;
  z-index: 100;

  @include mobile {
    span {
      margin-bottom: 8px;
    }
  }
}

.cookie-container {
  display: flex;
  margin-bottom: $icon-size;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }
}

.cookie-notice a {
  display: inline-block;
  cursor: pointer;
  @include btn-with-bg(100px, 8px)
}

.consent-button {
  background: $red-900;
  color: white;
  border-radius: 0.25rem;
  padding: .35rem .75rem;
  margin-left: .5rem;

}

.close-consent {
  color: $red-900;
  cursor: pointer;
  align-self: flex-end;
}
