.row {
  @include flex-container;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.first-row {
  margin-left: 10px;
  margin-bottom: 40px; // TODO wydzielić
}

.col-5 {
  flex: 31%;
}

.col-10 {
  @include flex-container;
  flex: 66%;
}

.col-15 {
  @include flex-container;
  flex: 1 0 calc(60% - 25px);
}

.col-1-3 {
  @include flex-container;
  flex: 1 0 calc(33.33% - 25px);
}

.col-2-3 {
  @include flex-container;
  flex: 1 0 calc(66.66% - 25px);
}

.padding-column {
  @include mobile {
    display: none;
  }
}
