.row {
  @include flex-container;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: $double-content-padding;
}

.first-row {
  @include desktop {
    margin-bottom: $desktop-section-small-space;
  }
  @include mobile {
    margin: 0;
  }
}

.col-5 {
  @include mobile {
    flex: 100%;
  }
  @include tablet {
    flex: 45%;
  }
  flex: 31%;
}

.col-15 {
  @include flex-container;
  flex: 1 0 calc(60% - 25px);
  @include mobile {
    flex-direction: column;
    height: fit-content;
  }
}

.col-1-2 {
  @include flex-container;
  flex: 50%;
}

.col-1-3 {
  @include flex-container;
  flex: 33.33%;
}

.col-2-3 {
  @include flex-container;
  flex: 66.66%;
}

.padding-column {
  @include mobile {
    display: none;
  }
  margin: $post-tile-margin-top $small-padding $post-tile-margin-bottom;
}
