.sign-up-container {
  margin: 0;
  position: fixed;
  background-color: white;
  right: 0;
  bottom: 0;
  max-width: 500px;
  box-sizing: border-box;
  border: 15px solid #b31536;
  padding: 20px;
  animation-fill-mode: forwards;
  -webkit-animation: flipInX 0.5s 5s forwards;
  animation: flipInX 0.5s 5s forwards;
  opacity: 0;

  * {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 19px;
  }

  .sign-up-content {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex-container;
    flex-direction: column;
    align-items: center;
  }

  .sign-up-close-button {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
    }

    span {
      color: #AEAEAE;
      font-size: 22px;
      padding: 0.4em;
    }
  }

  .sign-up-form {
    @include flex-container;
    flex-direction: column;
  }

  .signup-modal-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: 6px;
    max-width: 60%;
    line-height: 1.2em;
  }

  .signup-modal-red-text {
    color: #800000;
    font-weight: bold;
    text-align: center;
  }

  .event-title {
    color: black;
    font-weight: bold;
    text-align: center;
  }

  .event-description {
    color: black;
    text-align: center;
    font-weight: 300;
    margin-bottom: 41px;
  }

  .signup-icons-container {
    @include flex-container;
    align-items: center;
    max-height: 66px;
  }

  .signup-link-icon {
    &:hover {
      opacity: 0.85;
    }
    transition: 0.3s all ease;
  }

  .signup-link-icon-meetup {
    width: 66px;
    height: auto;
    margin: 5px
  }

  .signup-link-icon-facebook {
    width: 54px;
    height: auto;
    margin: 4px
  }

  .small-margin {
    margin-bottom: 10px
  }

  .medium-margin {
    margin-bottom: 20px;
  }

  .big-margin {
    margin-bottom: 45px;
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
    opacity: 1;
  }
}

