@-webkit-keyframes image-blur {
  0% {filter: blur(10px);}
  100% {filter: blur(0)}
}

.post-big-title {
  font-size: $post-title-font-size-desktop;
  font-weight: bold;
  letter-spacing: $general-letter-spacing;
  @include desktop {
    margin-bottom: 0;
  }

  @include mobile {
    font-size: $post-title-font-size-mobile;
    margin-bottom: 0;
  }
}

.social-media-sharing {
  @include flex-container;
  font-weight: bold;
  font-size: 1.2em;
  justify-content: flex-end;
  border-bottom: $separator-border;
}

.post-content-container {
  @include flex-container;
  flex-direction: column;
  width: 100%;
}

.post-content {
  width: 100%;
  display: block;
  font-size: $post-font-size;
  letter-spacing: $general-letter-spacing;
  line-height: $post-content-line-height;

  p:first-child {
    margin-top: $content-padding;
  }

  h2:first-child {
    margin-top: $content-padding;
  }
}

.first-row {
  margin-top: $double-content-padding;
}

.post-image-column {
  // This is a fix for Safari - without flex-start the image is stretched vertically
  align-items: flex-start;
}

.post-highlight-image {
  animation: image-blur 3s;
  width: 100%;
  height: auto;
}

.post-ending-line {
  border-bottom: $separator-border;
  margin: 0;
}
