.share-buttons {
  font-size: 15px;
  margin-bottom: 1px;
}

.share-button {
  margin-left: $very-small-padding;
  font-size: 1.6em;
}

.fa-facebook-official {
  color: $facebook-color;
}

.fa-twitter {
  color: $twitter-color;
}

.fa-linkedin {
  color: $linkedin-color;
}
