.share-buttons {
  font-size: 15px;
  margin-bottom: 1px;
}

.share-button {
  margin-left: $very-small-padding;
  font-size: 1.6em;
}

.fa-facebook-official {
  color: $red-500;
}

.fa-twitter {
  color: $red-500;
}

.fa-linkedin {
  color: $red-500;
}
