blockquote {
  z-index: -1;
  font-size: 1.4em;
  width: 60%;
  margin-left: 0;
  margin-right: auto;
  color: $color-dark-gray;
  padding: $content-padding $content-padding $content-padding 75px;
  border-left: 4px solid $color-logo-red;
  position: relative;
  background: $color-code-background;

  @include tablet-and-desktop {
    font-size: 1.1em;
    padding: $content-padding $content-padding $content-padding 40px;
  }

  &:before {
    content: "\201C";
    color: $color-logo-red;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -15px;
    @include tablet-and-desktop {
      top: -20px;
    }
  }

  span {
    font-size: $small-font-size;
    display: block;
    font-weight: $font-weight-semibold;
    margin-top: $content-padding / 2;
    @include tablet-and-desktop {
      margin-top: $content-padding;
      font-size: $default-font-size;
    }
  }

  p {
    margin: 0;
  }
}
