.sidebar {
  position: sticky;
  height: fit-content;
  width: $post-sidebar-content-width;
}

.sidebar-container {
  @include flex-container;
  flex-direction: column;
  box-sizing: border-box;
  position: sticky;
  @include tablet-and-desktop {
    margin-left: $double-content-padding;
  }
}

.sidebar-title {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: $small-padding;
}

.sidebar-post {
  font-size: 1.2em;
  margin-bottom: $content-padding;
}

.post-post-section-mobile {
  margin-bottom: $content-padding;
  @include desktop {
    display: none;
  }
}

.ad-container {
  @include flex-container;
  padding: $small-padding;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: $red-500;
}

.ad-icons-container {
  @include flex-container;
  justify-content: center;
  align-items: center;
  max-height: 66px;
}

.ad-link-icon {
  &:hover {
    opacity: 0.85;
  }

  transition: 0.3s all ease;
}

.ad-titile {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: $color-white;
  line-height: 1.2em;
}

.ad-date {
  color: $color-white;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: $small-padding;
}

.ad-text {
  @extend .ad-date;
  margin-bottom: $small-padding;
}

.ad-event-title {
  color: $color-white;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.event-icon {
  font-size: 3em;
  margin: $very-small-padding;
}

.fa-meetup {
  color: $color-white;
}

.clickable-offer {
  display: block;
  margin-bottom: $small-padding;
}

.job-offer-highlighted {
  display: flex;
  flex-direction: column;
  background-color: $red-500;
  padding: $very-small-padding;

  &:hover {
    background-color: $red-900;
  }

  .job-title {
    @include job-offer-text(white);
    font-weight: bold;
  }

  .job-description {
    @include job-offer-text(white);
  }

  .job-salary {
    @include job-offer-text(white);
    font-weight: lighter;
  }
}

.job-offer, .other-job-offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $very-small-padding;

  &:hover {
    .job-salary,
    .job-description,
    .job-title {
      color: $red-900;
    }
  }

  .job-salary {
    @include job-offer-text($gray-900);
    font-weight: lighter;
  }

  .job-description {
    @include job-offer-text($gray-900);
  }

  .job-title {
    @include job-offer-text($gray-900);
    font-weight: bold;
  }
}
