.author-bio {
  display: none;
  letter-spacing: $general-letter-spacing;
  border-top: $separator-border;
  width: 100%;
  @include tablet-and-desktop {
    @include flex-container;
    align-items: center;
  }
  padding: $content-padding;


  $author-image-size: 120px;

  .author-image {
    min-width: $author-image-size;
    max-width: $author-image-size;
    min-height: $author-image-size;
    max-height: $author-image-size;
    border-radius: 50%;
    overflow: hidden;

    img {
      min-width: $author-image-size;
      max-width: $author-image-size;
      min-height: $author-image-size;
      max-height: $author-image-size;
    }
  }

  .card {
    @include flex-container;
    margin-left: $content-padding;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .header {
    @include flex-container;
    align-items: center;
  }

  .social-buttons {
    margin-left: $content-padding;
    svg {
      padding: 0;
    }
  }

  .author-name {
    font-size: 1.4em;
  }

  .bio {
    margin-top: $content-padding;
    font-size: 1.1em;
  }
}

.big-author-image {
  z-index: 2;
  position: absolute;
  width: $big-author-image-size;
  height: auto;
  border-radius: 50%;
  margin-right: $small-padding;
}

.coauthor {
  z-index: 1;
  left: -25px;
  top: -25px;
}