.author {
  position: relative;
  display: flex;
  gap: 16px;

  &:hover {
    @include animation-ease;
    cursor: pointer;
    .author-name {
      color: $gray-900;
    }
  }
}

.author-name {
  @include body-small-semibold();
  color: $gray-500;
  margin: 0;
  text-align: center;
  align-self: center;

  @include mobile{
    @include body-xs-semibold()
  }
}

.author-image {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  margin: 0;

  @include mobile{
    width: $avatar-size-mobile;
    height: $avatar-size-mobile;
  }
}

.github-icon {
  position: absolute;
  left: 32px;
  bottom: 0;
  background-color: $color-white;
  padding: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0;

  @include mobile{
    left: 22px;
    padding: 4px;
    width: 8px;
    height: 8px;
  }
}

.authors-space {
  margin-top: 4px;
}
