img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img-with-legend {
  margin-bottom: 5px;
}

.img-legend {
  display: block;
  text-align: center;
  font-size: $small-font-size;
  font-weight: $font-weight-light;
  margin-top: 10px;
}