.author {
  position: relative;
  display: flex;
  gap: 16px;

  &:hover {
    @include animation-ease;
    cursor: pointer;
    .author-name {
      color: $gray-900;
    }
  }
}

.author-name {
  @include body-small-semibold();
  color: $gray-500;
  margin: 0;
  text-align: center;
  align-self: center;
}

.author-image {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  margin: 0;
}

.github-icon {
  position: absolute;
  left: 32px;
  bottom: 0;
  background-color: $color-white;
  padding: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0;
}

.authors-space {
  margin-top: 4px;
}
