.post-language-options {
  justify-content: flex-end;
  text-align: end;

  p {
    margin: 0 0 5px;
  }

  ul {
    @include flex-container;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
  }

  .overlay {
    @include flex-container;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:  rgba(0,0,0,0);
    transition: 0.3s ease;
    border-radius: 50%;
  }

  .flag {

    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: cover;
    border: 1px solid $gray-500;
    margin-left: $content-padding;

    &:hover {
      @include animation-ease;
      .overlay {
        background-color: rgba(0,0,0,0.5);
      }

      .lang-code {
        opacity: 1;
      }
    }
  }

  .lang-code {
    opacity: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-white;
  }

  .pl {
    background-image: url($images-dir + "flag-pl.png");
  }

  .en {
    background-image: url($images-dir + "flag-usa.png");
  }
}
