.sidebar-container {
  @include flex-container;
  flex-direction: column;
  @include desktop {
    padding-left: $content-padding;
  }
}

.sidebar-title {
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: $separator-border;
}

.sidebar-post {
  font-size: 1.1em;
  margin-bottom: $content-padding;
}

.latest-posts-desktop, .recommended-posts-desktop {
  @include mobile {
    display: none;
  }
}

.latest-posts-mobile, .recommended-posts-mobile {
  @include tablet-and-desktop {
    display: none;
  }
}
