.recommended-container {
  border: 1px solid $red-900;
  border-radius: $round-edge;
  padding: $mobile-section-xs-space $desktop-section-xs-space;
  margin-top: $desktop-section-xs-space;

  .arrow {
    display: none;
    cursor: pointer;
    @include animation-ease;
  }

  .arrow.rotated {
    transform: rotate(180deg);
    @include animation-ease;
  }

  @include mobile {
    padding: 16px 24px;

    .arrow {
      display: block;
      padding: 8px 4px;
    }
  }

  .post-tile {
    @include mobile {
      width: auto;
      margin: 0;

      .post-title {
        @include font-config(20px, $font-weight-semibold, 32px);
        margin-bottom: 8px;
      }

      .badge {
        margin-bottom: 8px;
      }

      .small-post-image {
        display: none;
      }

      .post-tile-content {
        .tile-author {
          display: none;
        }
      }

      .post-description {
        margin-bottom: 0;
      }
    }
  }

  .title {
    margin: 0;
    color: $red-900;
    text-align: center;
  }

  .latest-posts-container {
    display: flex;
    gap: 12px;
    margin-top: $mobile-section-xs-space;

    @include tablet {
      flex-direction: column;
      gap: 32px;
    }

    @include mobile {
      flex-direction: column;
      gap: 32px;
      margin-bottom: 24px;
    }
  }

  .hide {
    display: none;
  }
}
