.recommended-container {
  border: 1px solid $red-900;
  border-radius: $round-edge;
  padding: $mobile-section-xs-space $desktop-section-xs-space;
  margin-top: $desktop-section-xs-space;

  .title {
    margin: 0;
    color: $red-900;
    text-align: center;
    margin-bottom: $mobile-section-xs-space;
  }

  .latest-posts-container {
    display: flex;
    gap: 12px;
  }
}
