.share-button {
  margin-left: 5px; //TODO wydzielić
  font-size: 1.6em;
}

.fa-facebook-official {
  color: $facebook-color;
}

.fa-twitter {
  color: $twitter-color;
}

.fa-linkedin {
  color: $linkedin-color;
}
