.sidebar-container {
  @include flex-container;
  flex-direction: column;
  padding-left: $content-padding;
  @include mobile {
    display: none;
  }
}

.sidebar-container-mobile {
  @include flex-container;
  flex-direction: column;
  @include tablet-and-desktop {
    display: none;
  }
}

.sidebar-title {
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 3px solid $color-logo-red;
}

.sidebar-posts {

}

.sidebar-post {
  font-size: 1.1em;
  margin-bottom: $content-padding;
}
