.feed-subscribe {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
    .svg-icon {
      padding: 0;
    }
  }
  margin-left: $content-padding;
  svg {
    color: $color-white;
  }
  a:hover {
    svg {
      color: $color-logo-red;
    }
  }
}
