.navbar-brand {
  @include flex-container;
  flex-direction: row;
  align-items: center;
  height: $navbar-height-mobile;

  img {
    width: 168px;
    height: 19px;
  }

  a {
    @include flex-container;
    width: 100%;
    align-content: center;
    justify-content: center;
  }
}