.newsletter-button {
  background-color: $red-500;
  color: $color-white;
  font-weight: bold;
  border: none;
  padding: $very-small-padding;
  cursor: pointer;

  &:hover {
    background-color: $red-900;
  }
}

.newsletter-link {
  width: 100%;
  text-align: center;
}
