.navigation-tags {
  @include flex-container;
  align-items: center;
  flex-basis: 100%;
  @include tablet {
    flex-basis: 60%;
  }

  a {
    @include body;
    color: $gray-900;
    cursor: pointer;
    text-transform: capitalize;
    padding: 12px 24px;
    border-radius: $medium-round-edge;

    &:hover {
      @include animation-ease;
      color: $color-white;
      background: $red-900;
      cursor: pointer;
    }
  }
}
