.navigation-tags {
  @include flex-container;
  align-items: center;
  flex-basis: 70%;
  font-size: 1.1em;

  a {
    color: $color-logo-red;
    cursor: pointer;
    font-size: 1.1em;
    padding-right: $double-content-padding;
    @include mobile {
      padding-right: $content-padding;
    }

    &:hover {
      color: $color-dark-gray;
    }
  }
}
