.navigation-bar {
  margin-top: $navbar-height-desktop + 10px;
  padding: 0 $content-padding;
}

.newsletter-button {
  background-color: $color-logo-red;
  color: $color-white;
  font-weight: bold;
  border: none;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: $color-logo-red-dark;
  }
}

.navigation-tags {
  @include flex-container;
  flex-basis: 50%;
  align-items: center;
  justify-content: space-between;
  a {
    color: $color-logo-red;
    cursor: pointer;
    font-size: 1.1em;
    &:hover {
      color: $color-dark-gray;
    }
  }
}

.navbar-links {
  @include flex-container;
  justify-content: space-between;
}

.search-input-container {
  @include flex-container;
  margin-right: 10px;
  height: 100%;
  align-items: center;
  position: relative;
}

.search-input {
  width: 0;
  visibility: hidden;
  transition: 0.3s;
  animation: ease-in-out;
  position: absolute;
  right: $search-icon-width;
  margin-right: 5px;
  background-color: $color-white;
  border: none;
  z-index: 999;
  border-bottom: 2px solid $color-dark-gray;
  &:focus {
    outline: none;
    border-color: $color-logo-red;
  }
}

.expanded {
  width: 135px;
  visibility: visible;
}

.search-icon {
  position: relative;
  cursor: pointer;
  width: $search-icon-width;
  height: auto;
  font-size: 1.3em;
  color: $color-logo-red;
}
