.search-input-container {
  @include flex-container;
  margin-right: $small-padding;
  height: 100%;
  align-items: center;
  position: relative;
}

.search-input {
  width: 0;
  visibility: hidden;
  transition: 0.3s;
  animation: ease-in-out;
  position: absolute;
  right: $search-icon-width;
  margin-right: $very-small-padding;
  background-color: $color-white;
  z-index: 999;
  border: none;
  border-bottom: $inactive-input-bottom-border;

  &:focus {
    outline: none;
    border-color: $color-logo-red;
  }

  @include mobile {
    background-color: $color-russian-black;
  }
}

.expanded {
  width: $expanded-input-width-desktop;
  visibility: visible;

  @include mobile {
    width: $expanded-input-width-mobile;
    color: $color-white;
  }
}

.search-icon {
  position: relative;
  cursor: pointer;
  width: $search-icon-width;
  height: auto;
  font-size: 1.3em;
  color: $color-logo-red;

  @include mobile {
    font-size: 1.6em;
    color: $color-white;
  }
}
