.search-input-container {
  @include flex-container;
  margin-right: $small-padding;
  height: 100%;
  align-items: center;
  position: relative;
}

.search-input {
  width: 0;
  visibility: hidden;
  transition: 0.3s;
  animation: ease-in-out;
  position: absolute;
  margin-right: $very-small-padding;
  background-color: $color-white;
  z-index: 999;
  border: none;

  &:focus {
    outline: none;
    border-color: $red-500;
  }

  @include mobile {
    background-color: $gray-900;
  }
}

.expanded {
  visibility: visible;

  @include mobile {
    color: $color-white;
  }
}

.search-icon {
  position: relative;
  cursor: pointer;
  height: auto;
  font-size: 1.3em;
  color: $red-500;

  @include mobile {
    font-size: 1.6em;
    color: $color-white;
  }
}
