nav {
  @import "navbar-toggle";
  @import "navbar-links";
  @import "navbar-brand";
  @import "navbar-feed-subscribe";

  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-transparent-black;

  .container {
    @include content-container;
  }
}