@import "navbar-desktop";
@import "navbar-mobile";
@import "navbar-newsletter";
@import "navbar-search";
@import "navbar-tags";

.navigation-bar {
  margin: $navbar-height-desktop + $content-padding $blog-side-margins-desktop 0;
  @include tablet {
    margin: $navbar-height-desktop + $content-padding $blog-side-margins-tablet 0;
  }
  @include mobile {
    margin: $navbar-height-mobile + $content-padding $content-padding 0;
  }

  .navigation-tags {
    display: block;
    overflow: auto;
    white-space: nowrap;
    margin: auto $small-padding auto 0;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}





