@import "navbar-desktop";
@import "navbar-mobile";
@import "navbar-newsletter";
@import "navbar-search";
@import "navbar-tags";

.navigation-bar {
  margin: $content-padding $blog-side-margins-desktop $double-content-padding;
  @include tablet {
    margin: $navbar-height-desktop + $content-padding $blog-side-margins-tablet $content-padding;
  }
  @include mobile {
    margin: $navbar-height-mobile + $content-padding $small-padding $content-padding;
  }

  .navigation-tags {
    display: block;
    overflow: auto;
    white-space: nowrap;
    margin: auto $small-padding auto 0;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .row {
    margin-bottom: unset;
  }
}
