.desktop-navbar {
  @include mobile {
    display: none;
  }

  .navbar-links {
    @include flex-container;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
  }
}
