---
layout: search
---

<article>
    {% assign author = site.authors | where: 'short_name', page.short_name | first %}
    {% include main-page-link.html %}
    <div class="row">
        <div class="col-15 with-bottom-separator">
            {% include author_bio.html %}
        </div>
    </div>
    {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
    {% for forPost in filtered_posts %}
    <div class="row">
        {% include big-post-tile.html post=forPost %}
    </div>
    {% endfor %}
</article>
