---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}
    <div class="blog">
        <div class="row first-row">
            {% include big-post-tile.html post=site.posts.first %}
        </div>
        {% assign rows = site.posts.size | divided_by: 3.0 | ceil %}
        <div class="row">
            {% assign postsWithoutFirst = site.posts | shift %}
            {% for forPost in postsWithoutFirst%}
            {% include small-post-tile.html post=forPost %}
            {% endfor %}

            {% assign moduloValue = postsWithoutFirst.size | modulo: 3 %}
            {% if moduloValue > 0 %}
            {% assign missingPosts = 3 | minus: moduloValue %}
            {% for i in (1..missingPosts) %}
            <div class="col-5 padding-column"></div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
