---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}
    <div class="blog">
        <div class="row first-row">
            {% include big-post-tile.html post=site.posts.first %}}
        </div>
        {% assign rows = site.posts.size | divided_by: 3.0 | ceil %}
        {% for i in (1..rows) %}
        <div class="row">
            {% assign offset = forloop.index0 | times: 3 %}
            {% assign postsWithoutFirst = site.posts | shift %}
            {% for forPost in postsWithoutFirst limit:3 offset:offset %}
            {% include small-post-tile.html post=forPost %}
            {% endfor %}
            {% assign moduloValue = postsWithoutFirst.size | modulo: 3 %}
            {% if forloop.last == true and moduloValue > 0 %}
            {% assign missingPosts = 3 | minus: moduloValue %}
            <div class="col-5 padding-column"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
