---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}
    <div class="blog">
        {%- if site.posts.size > 0 -%}
        <div class="post-list">
            <ul>
                {%- for post in site.posts -%}
                {% assign author = site.data.authors[post.author] %}

                <li>
                    <h3>
                        <a class="post-link" href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h3>
                    {% include post_metadata.html %}
                    <div class="post-entry">
                        {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
                        <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Czytaj&nbsp;dalej]</a>
                    </div>
                </li>
                {%- endfor -%}
            </ul>
        </div>
        {%- endif -%}
    </div>
</div>
