---
layout: default
comments: true
---
{% assign post = page %}
{% assign author = site.authors | where: "short_name", post.author | first %}
{% assign coauthor = site.authors | where: "short_name", post.coauthor | first %}
<div class="blog">
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-content">
            <p class="badge">{{ page.tags }}</p>
            <h1 class="post-big-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
            {% include post_metadata.html %}
            <div class="col-5">
                {% include language_options.html %}
            </div>
            <div itemprop="articleBody" class="post-content-container">
                <div class="post-content-left-pane">
                    <div class="post-content">
                        <div id="myModal" class="modal">
                            <i id="modal-close" class="fa fa-times close" aria-hidden="true"
                               onclick="closeModal()"></i>
                            <img class="modal-content">
                        </div>
                        {{ content }}
                        {% if post.interpreter %}
                        {% include translation-details.html %}
                        {% endif %}
                        {% if post.afterhours %}
                        {% include after-hours-box.html %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar">
            {% include latest_posts.html %}
            {% include recommended-posts-desktop.html %}
            {% include consdata-offers.html %}
        </div>
        <div class="post-post-section-mobile">
            {% include latest_posts.html %}
        </div>
        <div class="post-post-section-mobile">
            {% include recommended-posts-mobile.html %}
        </div>
        <div class="post-post-section-mobile">
            {% include consdata-offers.html %}
        </div>
    </article>
</div>
<script>
    const language = '{{site.active_lang}}';
    const jsonPath = language === 'en' ? '/en/json/posts.json' : '/json/posts.json';
    fetch(jsonPath)
        .then(response => response.json())
        .then(store => {
            function displayResults(results) {
                if (results.length > 0) {
                    const container = document.getElementById("recommended-posts-desktop");
                    const containerMobile = document.getElementById("recommended-posts-mobile");
                    results
                        .forEach(result => {
                            const item = store[result.ref];
                            if (item.lang === language) {
                                const listElement = document.createElement('li');
                                const anchor = document.createElement('a');
                                const postTitle = document.createTextNode(item.title);
                                listElement.classList.add('sidebar-post');
                                listElement.classList.add('no-breaking-word');
                                anchor.setAttribute('href', item.url);
                                anchor.setAttribute('lang', 'pl');
                                anchor.appendChild(postTitle);
                                listElement.appendChild(anchor);
                                container.appendChild(listElement);
                                containerMobile.appendChild(listElement.cloneNode(true));
                            }
                        });
                    if (container.children.length < 1) {
                        hideRecommendedPosts();
                    }
                } else {
                    hideRecommendedPosts();
                }

            }

            const tags = "{{ post.tags | join: ' ' }}";
            const idx = lunr(function () {
                this.field('tags');

                for (let key in store) {
                    this.add({
                        'id': key,
                        'title': store[key].title,
                        'tags': store[key].tags,
                    });
                }
            });
            const results = idx.search(tags).slice(1, 4);
            displayResults(results);
        })

    function zoomImage($event) {
        const modal = document.getElementById('myModal');
        modal.getElementsByTagName('img')[0].src = $event.target.src;
        modal.style.display = 'flex';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
    }

    function hideRecommendedPosts() {
        document.getElementById("recommended-posts-sidebar").style.display = 'none';
        document.getElementById("recommended-posts-bottombar").style.display = 'none';
    }

    const postImages = document.querySelectorAll('.post-content img');
    postImages.forEach(x => x.addEventListener('click', zoomImage));
</script>
