---
layout: default
---
{% assign post = page %}
{% assign author = site.authors | where: "short_name", post.author | first %}

<div class="blog">
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

        <header>
            <div class="row">
                <div class="col-15">
                    <h1 class="post-big-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-15">
                    {% include post_metadata.html %}
                </div>
                <div class="col-5"></div>
            </div>
        </header>
        <div itemprop="articleBody">
            <div class="row first-row">
                <div class="col-10">
                    <img class="post-highlight-image" src="/assets/img/highlight/{{post.image}}" alt="postimage"/>
                </div>
                <div class="col-5">
                    {% include latest_posts.html %}
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="post-content-container">
                        <div class="social-media-sharing">
                            {% include share_bar.html %}
                        </div>
                        <div class="post-content">
                            {{ content }}
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    {% include recommended_posts.html %}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-15 post-ending-line">
            </div>
        </div>
        <div class="row">
            <div class="col-15">
                {% include author_bio.html %}
                {%- if site.disqus.shortname -%}
                {%- include disqus_comments.html -%}
                {%- endif -%}
                <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
            </div>
        </div>
    </article>
</div>
