---
layout: default
---
{% assign post = page %}
{% assign author = site.authors | where: "short_name", post.author | first %}
{% assign assets = post.path | remove: "_posts/" | remove: ".md" %}
<div class="blog">
    <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            {% include main-page-link.html %}
            <div class="row">
                <div class="col-15">
                    <h1 class="post-big-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-15">
                    {% include post_metadata.html %}
                </div>
                <div class="col-5"></div>
            </div>
        </header>
        <div itemprop="articleBody">
            <div class="row">
                <div class="col-10 post-image-column">
                    <img class="post-highlight-image" src="{{post.image}}"
                         alt="postimage"/>
                </div>
                <div class="col-5 latest-posts-desktop">
                    {% include latest_posts.html %}
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="post-content-container">
                        <div class="social-media-sharing">
                            {% include share_bar.html %}
                        </div>
                        <div class="post-content">
                            {{ content }}
                            <div id="myModal" class="modal">
                                <i id="modal-close" class="fa fa-times close" aria-hidden="true"
                                   onclick="closeModal()"></i>
                                <img class="modal-content">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 recommended-posts-desktop">
                    {% include recommended-posts-desktop.html %}
                </div>
            </div>

        </div>
        <div class="row latest-posts-mobile">
            <div class="col-5">
                {% include latest_posts.html %}
            </div>
        </div>
        <div class="row recommended-posts-mobile">
            <div class="col-5">
                {% include recommended-posts-mobile.html %}
            </div>
        </div>
        <div class="row post-ending-line">
        </div>
        <div class="row">
            <div class="col-15">
                {% include author_bio.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-15">
                {%- if site.disqus.shortname -%}
                {%- include disqus_comments.html -%}
                {%- endif -%}
                <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
            </div>
        </div>
    </article>
</div>
<div id="sign-up-container" class="sign-up-container">
    <div class="sign-up-content">
        <button id="sign-up-close-button"
                class="sign-up-close-button"
                onclick="hideSignupModal()">
            <span>×</span>
        </button>
        <div class="title">
            Zapisz się na Consdata.Tech!
        </div>
        <form action="" class="sign-up-form" onsubmit="setUserSignedUp()">
            <input required id="sign-up-name" placeholder="Imię" type="text" class="contact-info-input"/>
            <input required id="sign-up-email" placeholder="Adres e-mail" type="email" class="contact-info-input"/>
            <input type="submit" value="Zapisz mnie!" class="sign-up-button"/>
        </form>
    </div>
</div>
<script>
    fetch("/json/posts.json")
        .then(response => response.json())
        .then(store => {
            function displayResults(results) {
                const container = document.getElementById("recommended-posts-desktop");
                const containerMobile = document.getElementById("recommended-posts-mobile");
                if (results.length) {
                    results
                        .slice(1, 6)
                        .forEach(result => {
                            const item = store[result.ref];
                            const listElement = document.createElement('li');
                            const anchor = document.createElement('a');
                            const postTitle = document.createTextNode(item.title);
                            listElement.classList.add('sidebar-post');
                            listElement.classList.add('no-breaking-word');
                            anchor.setAttribute('href', item.url);
                            anchor.appendChild(postTitle);
                            listElement.appendChild(anchor);
                            container.appendChild(listElement);
                            containerMobile.appendChild(listElement.cloneNode(true));
                        });
                }
            }

            const tags = "{{ post.tags | join: ' ' }}";
            const idx = lunr(function () {
                this.field('tags');

                for (let key in store) {
                    this.add({
                        'id': key,
                        'title': store[key].title,
                        'tags': store[key].tags,
                    });
                }
            });
            const results = idx.search(tags);
            displayResults(results);
        })

    function zoomImage($event) {
        const modal = document.getElementById('myModal');
        modal.getElementsByTagName('img')[0].src = $event.target.src;
        modal.style.display = 'flex';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
    }

    function hideSignupModal() {
        document.getElementById('sign-up-container').animate(
            {
                transform: 'translateY(999px)',
            }, {
                duration: 500,
                fill: 'forwards',
                easing: 'cubic-bezier(0.550, 0.085, 0.680, 0.530)'
            }
        );
    }

    function setUserSignedUp() {
        localStorage.setItem('signedUp', 'true');
    }

    if (localStorage.getItem('signedUp') === 'true') {
        document.getElementById('sign-up-container').style.display = 'none';
    }
    const postImages = document.querySelectorAll('.post-content img');
    postImages.forEach(x => x.addEventListener('click', zoomImage));
</script>
